//
//  Production.xcconfig
//  Client
//
//  Created by Sameh Mabrouk on 24/06/2020.
//  Copyright © 2020 Temper BV. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common.xcconfig"

BASE_URL = api.foursquare.com/v2
CLIENT_ID = RHFOARPE3UGSQZCR4A2WNI0PD4E3BBUS0NSYVD3HGURZWNT3
CLIENT_SECRET = SXNKQJIDWTJVIO1YQUPGH4FCB4I2SUXLPVTFV0CIK00F0NKS
CATEGORY_ID = 4d4b7105d754a06374d81259
