//
//  Staging.xcconfig
//  Client
//
//  Created by Sameh Mabrouk on 24/06/2020.
//  Copyright © 2020 Temper BV. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common.xcconfig"

BASE_URL = api.foursquare.com/v2
CLIENT_ID = V1QZPKKAJNBV1HLYERDFT4PBQJRX0NDL2QBHCIB3SDZ000XV
CLIENT_SECRET = L2RUBRU4J5OU2343UFAEVHCZDNGUXYWFKNBCOOUBADA5WL2G
CATEGORY_ID = 4d4b7105d754a06374d81259
