//
//  Staging.xcconfig
//  Client
//
//  Created by Sameh Mabrouk on 24/06/2020.
//  Copyright © 2020 Temper BV. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common.xcconfig"

BASE_URL={insert staging base url here}
