//
//  Staging.xcconfig
//  Client
//
//  Created by Sameh Mabrouk on 24/06/2020.
//  Copyright © 2020 Temper BV. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Common.xcconfig"

BASE_URL = api.foursquare.com/v2
CLIENT_ID = ZLDKGJRR30MYWPHW22QZ04WXPB00I1HQ1LJR2M3CSF3MTJ5R
CLIENT_SECRET = FIZ1KFHHPMZD4ZWD5ZY3TARHK3IIZ3I22O1URU1LAKPIWIJF
CATEGORY_ID = 4d4b7105d754a06374d81259
